{{- partial "head.html" . -}}
{{- partial "navbar.html" . -}}
{{if .Params.hero.showSection }}
    {{- partial "hero-inner.html" . -}}
{{end}}






    {{block "main" .}}  
        
        <section class="ftco-section  bg-light">
            <div class="container">
                <div class="row d-flex no-gutters">
                    <div class="col-offset-md-1 col-offset-lg-1 col-md-10 col-lg-10 mx-auto text-center">
                        <span class="subheading">{{.Params.subHeading}}</span>
                        <h2 class="mb-4 sec-title">{{.Title}}</h2>
                    </div>
                </div>

                <div class="row d-flex no-gutters">

                    {{if .Params.image}}
                        <div class="col-md-4">               
                            <img src="{{ .Params.image | absURL }}" alt="security" class="img-fluid mt-5">
                        </div>
                        <div class="col-md-8  py-md-5">
                            <div class="heading-section pt-md-5">                    
                                {{if .Params.faq }}
                                <div class="ftco-faqs">
                                    
                                    <div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
                                        {{range  $index, $element :=   (.Site.Data.faq)}}
                                            <div class="card">
                                                <div class="card-header p-0" id="heading{{$index}}" role="tab">
                                                <h2 class="mb-0">
                                                    <button href="#faq{{$index}}" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="{{if eq $index 0}}true{{end}}" aria-controls="heading{{$index}}">
                                                        <p class="mb-0">{{.Q }}</p>
                                                    <i class="fa" aria-hidden="true"></i>
                                                    </button>
                                                </h2>
                                                </div>
                                                <div class="collapse {{if eq $index 0}} show {{end}}" id="faq{{$index}}" role="tabpanel" aria-labelledby="heading{{$index}}">
                                                <div class="card-body py-3 px-0">
                                                    <p>{{.A }}</p>
                                                </div>
                                                </div>
                                            </div>
                                        {{end}}
                                    </div>

                                </div>
                                {{else}}

                                {{ .Content | safeHTML }}

                                {{end}}


                                
                            </div>
                        </div>

                    {{ else }}

                        <div class="col-md-12  py-md-5">
                            <div class="heading-section  pt-md-5">                    
                                {{if .Params.faq }}
                                    
                                <div class="ftco-faqs">
                                    
                                    <div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
                                        {{range  $index, $element :=   (.Site.Data.faq)}}
                                            <div class="card">
                                                <div class="card-header p-0" id="heading{{$index}}" role="tab">
                                                <h2 class="mb-0">
                                                    <button href="#faq{{$index}}" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="{{if eq $index 0}}true{{end}}" aria-controls="heading{{$index}}">
                                                        <p class="mb-0">{{.Q }}</p>
                                                    <i class="fa" aria-hidden="true"></i>
                                                    </button>
                                                </h2>
                                                </div>
                                                <div class="collapse {{if eq $index 0}} show {{end}}" id="faq{{$index}}" role="tabpanel" aria-labelledby="heading{{$index}}">
                                                <div class="card-body py-3 px-0">
                                                    <p>{{.A }}</p>
                                                </div>
                                                </div>
                                            </div>
                                        {{end}}
                                    </div>

                                </div>

                                {{else if  .Params.pricing }}

                                 {{- partial "pricing.html" . -}}

                                {{else}}

                                    {{ .Content | safeHTML }}

                                {{end}}
                            </div>
                        </div>
                
                {{end}}
            </div>
            </div>
        </section>
    {{end}}
    
{{- partial "footer.html" . -}}