
    <section class="ftco-section" id="blog-section">
		<div class="container">
		  <div class="row justify-content-center mb-5 pb-5">
			<div class="col-md-7 heading-section text-center ftco-animate">
			  <span class="subheading">Blog</span>
			  <h2 class="mb-4">Our Blog</h2>
			  <p>Lorem Ipsum has been the industry's standard dummy text</p>
			</div>
		  </div>
		  <div class="row d-flex">
			<div class="col-md-4 d-flex ftco-animate">
				<div class="blog-entry justify-content-end">
				<a href="single.html" class="block-20" style="background-image: url('images/person_1.jpg');">
				</a>
				<div class="text float-right d-block">
					<div class="d-flex align-items-center pt-2 mb-4 topp">
						<div class="one mr-2">
							<span class="day">04</span>
						</div>
						<div class="two">
							<span class="yr">2020</span>
							<span class="mos">april</span>
						</div>
					</div>
				  <h3 class="heading"><a href="single.html">Lorem Ipsum is simply dummy text of the printing.</a></h3>
				  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				  <div class="d-flex align-items-center mt-4 meta">
					  <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
					 
				  </div>
				</div>
			  </div>
			</div>
			<div class="col-md-4 d-flex ftco-animate">
				<div class="blog-entry justify-content-end">
				<a href="single.html" class="block-20" style="background-image: url('images/person_2.jpg');">
				</a>
				<div class="text float-right d-block">
					<div class="d-flex align-items-center pt-2 mb-4 topp">
						<div class="one mr-2">
							<span class="day">04</span>
						</div>
						<div class="two">
							<span class="yr">2020</span>
							<span class="mos">april</span>
						</div>
					</div>
				  <h3 class="heading"><a href="single.html">Lorem Ipsum is simply dummy text of the printing.</a></h3>
				  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				  <div class="d-flex align-items-center mt-4 meta">
					  <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
					 
				  </div>
				</div>
			  </div>
			</div>
			<div class="col-md-4 d-flex ftco-animate">
				<div class="blog-entry justify-content-end">
				<a href="single.html" class="block-20" style="background-image: url('images/person_3.jpg');">
				</a>
				<div class="text float-right d-block">
					<div class="d-flex align-items-center pt-2 mb-4 topp">
						<div class="one mr-2">
							<span class="day">04</span>
						</div>
						<div class="two">
							<span class="yr">2020</span>
							<span class="mos">april</span>
						</div>
					</div>
				  <h3 class="heading"><a href="single.html">Lorem Ipsum is simply dummy text of the printing.</a></h3>
				  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				  <div class="d-flex align-items-center mt-4 meta">
					  <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
					 
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>

		<img src="images/app-shape-left.png" alt="" class="app-shape-left d-none d-xl-block">

	  </section>