<!-- download
	================================================== -->
	
    <section id="download" class="s-download">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-6 "> 
					<div class="download-content__image">
						<img src="images/download.png"  class="img-fluid" alt="download">
					</div>
					
				</div>
				
				<div class="col-md-6 col-lg-6  text-container">
					<h1 class="text-white mb-3">
						Download The App Now!
					</h1>
					<p>Click to <a href="https://itunes.apple.com/us/app/keynote/id361285480?mt=8">download</a> <strong>Semafore</strong>, the highly secure messaging application for the Enterprise.</p>
					<ul class="download-content__badges">
						<li><a href="#0" title="" class="badge-appstore">App Store</a></li>
						<li><a href="#0" title="" class="badge-googleplay">Play Store</a></li>
					</ul>
					
				</div>
			</div>

		</div>

        

	</section> <!-- end s-download -->