
	<section class="ftco-section  ftco-faqs">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-6">
    				<div class="img-faqs w-100">
	    				<div class="img mb-4 mb-sm-0" style="background-image:url({{"images/about-2.jpg" | absURL}});">
	    				</div>
	    				<div class="img img-2 mb-4 mb-sm-0" style="background-image:url({{"images/communciation.png" | absURL}});">
	    				</div>
	    			</div>
    			</div>
    			<div class="col-lg-6 pl-lg-5">
    				<div class="heading-section mb-5 mt-5 mt-lg-0">
    					<span class="subheading">FAQs</span>
						<h2 class="mb-3">Frequently Asks Questions</h2>
    				</div>
    				<div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
						{{range  $index, $element := first 4  (.Site.Data.faq)}}
							<div class="card">
								<div class="card-header p-0" id="heading{{$index}}" role="tab">
								  <h2 class="mb-0">
									<button href="#faq{{$index}}" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="{{if eq $index 0}}true{{end}}" aria-controls="heading{{$index}}">
										<p class="mb-0">{{.Q }}</p>
									  <i class="fa" aria-hidden="true"></i>
									</button>
								  </h2>
								</div>
								<div class="collapse {{if eq $index 0}} show {{end}}" id="faq{{$index}}" role="tabpanel" aria-labelledby="heading{{$index}}">
								  <div class="card-body py-3 px-0">
									<p>{{.A }}</p>
								  </div>
								</div>
							  </div>
						  {{end}}
					</div>

					<p><a href="/faqs" class="btn btn-primary px-5 py-3 mt-3">More details..</a></p>
	        </div>
        </div>
    	</div>
    </section>