
	
    <footer class="ftco-footer ftco-section">
		<div class="container">
		  <div class="row mb-5">
			<div class="col-md">
			  <div class="ftco-footer-widget mb-4">
				<h2 class="ftco-heading-2">{{.Site.Params.footer.about.heading | safeHTML }}</h2>
				<img src="{{.Site.Params.footer.about.logo | absURL }}" alt="attomus" class="img-fluid w-80">
				<p class="mt-3">{{.Site.Params.footer.about.text | safeHTML }}</p>
				<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
					{{range  .Site.Params.social}}
						<li class="ftco-animate"><a href="{{.link}}"><span class="{{.icon}}"></span></a></li>

					{{end}}

				</ul>
			  </div>
			</div>
			<div class="col-md">
			  <div class="ftco-footer-widget mb-4 ml-md-4">
				<h2 class="ftco-heading-2">{{.Site.Params.footer.quickLinks.heading | safeHTML }}</h2>
				<ul class="list-unstyled">
					{{range .Site.Params.footer.quickLinks.links}}
						<li><a href="{{.url}}"><span class="icon-long-arrow-right mr-2"></span>{{.text}}</a></li>
					{{end}}
				</ul>
			  </div>
			</div>
			<div class="col-md">
			   <div class="ftco-footer-widget mb-4">
				<h2 class="ftco-heading-2">{{.Site.Params.footer.services.heading | safeHTML }}</h2>
				<ul class="list-unstyled">
					{{range (where .Site.RegularPages "Section" "services" ) }}
						  <li><a href="{{.URL}}"><span class="icon-long-arrow-right mr-2"></span>{{.Title}}</a></li>
					{{end}}

				</ul>
			  </div>
			</div>
			<div class="col-md">
			  <div class="ftco-footer-widget mb-4">
				  <h2 class="ftco-heading-2">Have a Questions?</h2>
				  <div class="block-23 mb-3">
					<ul>
					  <li><span class="icon icon-map-marker"></span><span class="text">{{.Site.Params.address}}</span></li>
					  <li><a href="tel:{{.Site.Params.phone}}"><span class="icon icon-phone"></span><span class="text">{{.Site.Params.phone}}</span></a></li>
					  <li><a href="mailto:{{.Site.Params.phone}}"><span class="icon icon-envelope"></span><span class="text">{{.Site.Params.email}}</span></a></li>
					</ul>
				  </div>
			  </div>
			</div>
		  </div>
		  <div class="row">
			<div class="col-md-12 text-center">
  
			  <p>{{.Site.Params.copyright}}</p>
			</div>
		  </div>
		</div>
	  </footer>
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

  
{{- partial "script.html" . -}}


</body>
</html>