<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target scrolled awake navbar-fixed" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">Semafore</a>
      <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav nav ml-auto">
          <!-- <li class="nav-item"><a href="/" class="nav-link"><span>Semafore</span></a></li> -->
          
          {{ range .Site.Menus.main }}
          <li class="nav-item"><a class="nav-link"href="{{ .URL }}">{{ .Name }}</a></li>

      {{ end }}
        </ul>
      </div>
    </div>
  </nav>