
	<!-- Security
    ================================================== -->
    <section id="process" class="s-process">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center" data-aos="fade-up">
					<h1 class="">Security</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-12 text-center" data-aos="fade-up">
					<p> <strong>What make Semafore different - aren’t there already too many messaging apps?</strong> </p>
					<p>There are, very good ones, but they split into two groups. On the one hand, you have the apps built by the large corporations - Messenger, WhatsApp, Skype. Each claim your data is secure, is encrypted, yet you receive adverts that relate to the conversations you’ve had.</p>
					<p>On the other hand, you have apps like Telegram and Signal. They’re good, they’re secure, but built around the needs of the individual, not the organisation.</p>
				</div>
			</div>
			<div class="row " data-aos="fade-up">
				<div class="col-12 text-center">
					<img src="images/security.png" 
					 alt="App Screenshots">
				</div>
				 
			 </div>

		</div>
       
        
	</section> <!-- end Security -->