<section class="ftco-section testimony-section">
    <div class="container">
      <div class="row justify-content-center pb-3">
        <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
            <span class="subheading">Read testimonials</span>
          <h2 class="mb-4">What people say</h2>
        </div>
      </div>
      <div class="row ftco-animate justify-content-center">
        <div class="col-md-12">
          <div class="carousel-testimony owl-carousel ftco-owl">
            <div class="item">
              <div class="testimony-wrap text-center py-4 pb-5">
                <div class="user-img" style="background-image: url(images/trainer_1.jpg)">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text px-4 pb-5">
                  <p class="mb-4">QuikNapp has changed my life! I get more done in a day than ever before.</p>
                  <p class="name">Jen, </p>
                  <span class="position">startup founder</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap text-center py-4 pb-5">
                <div class="user-img" style="background-image: url(images/trainer_2.jpg)">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text px-4 pb-5">
                  <p class="mb-4">I've had my best rest with QuikNapp. It just knows when I need to recharge!</p>
                  <p class="name">Howard,</p>
                  <span class="position">senior manager</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap text-center py-4 pb-5">
                <div class="user-img" style="background-image: url(images/trainer_3.jpg)">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text px-4 pb-5">
                  <p class="mb-4">I've always had trouble getting rest. I tried a lot of stuff, but  QuikNapp has been the most reliable.</p>
                  <p class="name"> </p>
                  <span class="position"> </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>