<section class="ftco-section ftco-services ftco-no-pt ftco-no-pb">
    <div class="container">
      <div class="row no-gutters services-section">
        <div class="col-md-4 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services text-center d-block">
            <div class=" rounded-circle bg-white text-lg mx-auto justify-content-center number" >01</div>
            <div class="media-body">
              <h3 class="heading mb-3">Scalable</h3>
              <p>Protected trade secrets - most secure messaging service on the market</p>
              <!-- <p><a href="#" class="btn btn-primary">Read more</a></p> -->
            </div>
          </div>      
        </div>
        <div class="col-md-4 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services services-2 text-center d-block">
            <div class=" rounded-circle bg-white text-lg mx-auto justify-content-center number" >02</div>
            <div class="media-body">
              <h3 class="heading mb-3 ">Efficient</h3>
              <p>Fully confidential communications - no one outside of your organisation can access </p>
              <!-- <p><a href="#" class="btn btn-primary">Read more</a></p> -->
            </div>
          </div>    
        </div>
        <div class="col-md-4 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services text-center d-block">
            <div class=" rounded-circle bg-white text-lg mx-auto justify-content-center number" >03</div>
            <div class="media-body">
              <h3 class="heading mb-3">Secure</h3>
              <p>Cost efficient enterprise licence agreements - more security for less money</p>
              <!-- <p><a href="#" class="btn btn-primary">Read more</a></p> -->
            </div>
          </div>      
        </div>
      </div>
    </div>
  </section>